body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  padding-bottom: 40px;
}
.App-header {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 50px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}
.list {
  list-style: none;
}
.navigation {
  margin-left: 20px;
}
.navigation.active {
  color: tomato;
}
.movie_description {
  display: flex;
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}
.poster {
  width: 300px;
  margin-right: 20px;
}
.aditional_info {
  padding: 20px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}
.go_back {
  border: none;
  background: none;
  cursor: pointer;
}
.actor_profile_picture {
  width: 150px;
  margin: 10px;
}
.cast,
.reviews {
  padding: 20px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}
.atcors {
  list-style: none;
}
